.root{
    --layout-bg: #170f23;
    --player-bg: #130c1c;
    --sidebar-popup-bg: #2a213a;
    --primary-bg: #34224f;
    --alpha-layout-bg: rgba(41,21,71,0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30,21,47,0.9019607843137255);
    --purple-primary: #9b4de0;
    --link-text-hover: #c273ed;
    --chart-bg-img-alpha: rgba(32,19,53,0.9);
    --padding-section: 29px;
    --alpha-bg: hsla(0,0%,100%,0.1);

}

*{
    box-sizing: border-box;
}

.grid{
    width: 1000px;
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    
}