
.popular__header .popular__header__ttt {
    display: flex;
    margin: left;
    column-count: 6;
    padding-top: 10px;
    font-size: 14px;
    font-style: italic;
    
}

.popular__header, .popular__content__album, .popular__header__ttt  {
    display: grid;
    justify-items: left;
    align-items: center;
    grid-auto-flow: column;
    column-gap: 40px;
    
}
/* .popular__header__ttt{
    font-size: 14px;
    font-style: italic;
} */
.tracks__heading__number{
    column-width: 20px;
}
.tracks__heading__title{
    column-width: 350px;
}
.popular__title {
    column-width: 400px;
}

.tracks__heading__album, .popular__album {
    column-width: 200px;
}

.tracks__heading__length, .popular__length {
    column-width: 50px;
}

.tracks__heading__heart {
    column-width: 50px;
}
.tracks__heading__time, .popular__time {
    column-width: 100px;
}
.image__song {
    height : 40px;
    width: 40px;
}
.popular__time , .popular__length{
    /* font-style: normal; */
    font-size: 13px;
}
.name__song {
    font-size: 15px;
}
.popular__heart {
    column-width: 80px;
}
.popular__number {
    padding-top: 1px;
    font-size: 13px;
}