*{
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
}

a {
    text-decoration: none;
}

.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: #2e3c62;
}

.auth-form{
    width: 480px;
    height: 320px;
    background: #12192C;
    padding: 40px 30px;
    border-radius: 20px;
    position: relative;
    margin: 30px;
}

.auth-form__form{
    width: 300px;
    height: 250px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.auth-form__img{
   height: 100px;
   width: 50px;
} 

.auth-form__heading{
    color: #fff;
    font-size: 35px;
}

.auth-form__header{
    margin-top: 13px;
    color: #fff;
}
.auth-form__group{
    margin-top: 25px;
}

.auth-form__label{
   display: flex;
   margin-bottom: 10px;
   color: #fff;
   font-size: 18px;
   font-weight: 700; 
   
}
.auth-form__input{
    width: 100%;
    height: 35px;
    border-radius: 12px;
    background: #D9D9D9;
}

.auth-form__btn{
    font-weight: 900;
    width: 50%;
    height: 35px;
    border-radius: 20px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000000;
}

.auth-form__backto{
    color: #fff;
    font-size: 14px;
}

.img-forgot{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;

}

.img-60x60{
    height: 100%;
    width: 100%;
}
